<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form> method = "post">
                <div>
                    {{ form.username.label_tag }} {{ form.username }}
                </div>
                <div>
                    {{ form.password.label_tag }} {{form.password }}
                </div>
                <div>
                    <input type = "submit" value= "Login">
                </div>
            </form>
        </div>
    </main>
</body>
</html>
