<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <div>
            <h1>Sign Up</h1>
            <form method=""post>
                {% csrf_token %}
                <!-- Add any security stuff you want here-->
                <div>
                    {{ form.user.label_tag }} {{ form.username }}
                </div>
                <div>
                    {{ form.password1.label_tag }}
                </div>
                <div>
                    {{ form.password2.label_tag }} {{ form.password2 }}
                </div>
                {{% if form.errors %}}
                    <p style="color: red;">{{form.non_field_errors }}</p>
                    <p style="color: red;">{{ form.password2.errors }}</p>
                {{ endif % }}
                <div>
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </main>
</body>
</html>
